# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
env/
.venv/
.env/

# SQLite database files
*.db
*.sqlite3



# VSCode
.vscode/

# Logs
*.log

# Docker
*.env

# mypy
.mypy_cache/

# pytest
.pytest_cache/


# FastAPI reload files
*.reload

# SSL/TLS certificates and keys
certs/
*.crt
*.key
